<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
</head>
<body>
    <div class="content">
        <h1>Index</h1>
    </div>
    <br>
    <hr>
    <div class="button-container">
        <a style="text-decoration: none" href="../Mario"><button class="button" type="button">Mario</button></a>
        <a style="text-decoration: none" href="../Luigi"><button class="button" type="button">Luigi</button></a>
        <a style="text-decoration: none" href="../Customers"><button class="button" type="button">Customers</button></a>
        <a style="text-decoration: none" href="../Statistic"><button class="button" type="button">Statistic</button></a>
        <!--<a style="text-decoration: none" href="../Register"><button class="button" type="button">Register</button> </a> -->
        <a style="text-decoration: none" href="../Login"><button class="button" type="button">Login</button> </a>
    </div>
</body>
</html>